//
// Mixins and funcs for buttons
//

$_default_button_c: lighten($bg_color,2%);
@mixin button($t, $c:$_default_button_c, $tc:$fg_color) {
  //
  // Button drawing function
  //
  // $t:    button type,
  // $c:    base button color for colored* types
  // $tc:   optional text color for colored* types
  //
  // possible $t values:
  // normal, hover, active, checked-hover, checked-active, insensitive, insensitive-active,
  // backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
  // osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
  //
  $_button_shadow: 0 1px 2px transparentize($shadow_color, 0.03);

  @if $t==normal {
    //
    // normal button
    //
    color: $tc;
    outline-color: if($c != $_default_button_c, $alt_focus_border_color, $focus_border_color);
    border-color: if($c!=$_default_button_c, _border_color($c, true), $borders_color); //tint if not default button color
    background-image: if($variant == 'light', linear-gradient(to top, darken($c, 2%) 2px, $c),
    linear-gradient(to top, darken($c,1%) 2px, $c));
    @include _shadows($_button_shadow);
  }

  @else if $t==hover {
    //
    // hovered button
    //
    color: $tc;
    border-color: if($c != $_default_button_c, _border_color($c), $borders_color);
    @if $variant == 'light' {
      background-image: linear-gradient(to top, darken($c,16%), darken($c,8%) 1px);
      @include _shadows($_button_shadow);
    }
    @else {
      background-image: linear-gradient(to top, darken($c,4%) 20%, darken($c, 3%) 90%);
      @include _shadows($_button_shadow);
    }
  }

  @else if $t==active {
    //
    // pushed button
    //
    color: $tc;
    border-color: if($c != $_default_button_c, _border_color($c), $borders_color);
    background-image: if($variant == 'light', image(darken($c, 14%)), image(darken($c, 9%)));
    box-shadow: none;
  }

  @else if $t==checked-hover {
    //
    // pushed togglebutton hover
    //
    color: $tc;
    border-color: if($c != $_default_button_c, _border_color($c), $borders_color);
    background-image: if($variant == 'light', image(darken($c, 18%)), image(darken($c, 12%)));
    box-shadow: none;
  }

  @else if $t==checked-active {
    //
    // pushed togglebutton pushed further :)
    //
    color: $tc;
    border-color: if($c != $_default_button_c, _border_color($c), $borders_color);
    background-image: if($variant == 'light', image(darken($c, 22%)), image(darken($c, 14%)));
    box-shadow: none;
  }

  @else if $t==insensitive {
    //
    // insensitive button
    //
    $_bg: if($c != $_default_button_c, mix($c, $base_color, 85%), $insensitive_bg_color);

    color: if($tc != $fg_color, mix($tc, $_bg, 50%), $insensitive_fg_color);
    border-color: if($c != $_default_button_c, _border_color($c), $insensitive_borders_color);
    background-image: image($_bg);
  }

  @else if $t==insensitive-active {
    //
    // insensitive pushed button
    //
    $_bg: if($variant == 'light', darken(mix($c, $base_color, 85%), 8%), darken(mix($c, $base_color, 85%), 6%));
    $_bc: if($c != $_default_button_c, _border_color($c), $insensitive_borders_color);

    color: if($c != $_default_button_c, mix($tc, $_bg, 60%), $insensitive_fg_color);
    border-color: $_bc;
    background-image: image($_bg);
    box-shadow: none;
  }

  @else if $t==backdrop {
    //
    // backdrop button
    //
    $_bg: if($c != $_default_button_c, $c, $backdrop_bg_color);
    $_bc: if($variant == 'light', $c, _border_color($c));

    color: if($tc != $fg_color, mix($tc, $_bg, 80%), $backdrop_fg_color);
    border-color: if($c != $_default_button_c, $_bc, $backdrop_borders_color);
    background-image: image($_bg);
    box-shadow: none;
  }

  @else if $t==backdrop-active {
    //
    // backdrop pushed button
    //
    $_bg: if($variant == 'light', darken(mix($c, $base_color, 85%), 8%), darken(mix($c, $base_color, 85%), 4%));
    $_bc: if($variant == 'light', $_bg ,_border_color($c));

    color: if($tc != $fg_color, mix($tc, $_bg, 80%), $backdrop_fg_color);
    border-color: if($c != $_default_button_c, $_bc, $backdrop_borders_color);
    background-image: image($_bg);
    box-shadow: none;
  }

  @else if $t==backdrop-insensitive {
    //
    // backdrop insensitive button
    //

    $_bg: if($c != $_default_button_c, mix($c, $base_color, 85%), $insensitive_bg_color);
    $_bc: if($variant == 'light', $_bg,_border_color($c));

    color: if($c != $_default_button_c, mix($tc, $_bg, 35%), $backdrop_insensitive_color);
    border-color: if($c != $_default_button_c, $_bc, $backdrop_borders_color);
    background-image: image($_bg);
    box-shadow: none;
  }

  @else if $t==backdrop-insensitive-active {
    //
    // backdrop insensitive pushed button
    //

    $_bg: if($variant == 'light', darken(mix($c, $base_color, 85%), 8%), darken(mix($c, $base_color, 85%), 4%));
    $_bc: if($variant == 'light', $_bg, _border_color($c));

    color: if($c != $_default_button_c, mix($tc, $_bg, 35%), $backdrop_insensitive_color);
    border-color: if($c != $_default_button_c, $_bc, $backdrop_borders_color);
    background-image: image($_bg);
    box-shadow: none;
  }

  @else if $t==osd {
    //
    // normal osd button
    //
    $_bg: if($c != $_default_button_c, transparentize($c, 0.5), $osd_bg_color);

    color: $osd_fg_color;
    outline-color: if($c != $_default_button_c, $alt_focus_border_color, $focus_border_color);
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($_bg);
    background-clip: padding-box;
  }

  @else if $t==osd-hover {
    //
    // active osd button
    //
    $_bg: if($c != $_default_button_c, transparentize($c, 0.3), darken($osd_bg_color, 10%));

    color: white;
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($_bg);
    background-clip: padding-box;
  }

  @else if $t==osd-active {
    //
    // active osd button
    //
    $_bg: if($c != $_default_button_c, $c, darken($osd_bg_color, 20%));

    color: white;
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($_bg);
    background-clip: padding-box;
    box-shadow: none;
  }

  @else if $t==osd-insensitive {
    //
    // insensitive osd button
    //
    color: $osd_insensitive_fg_color;
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($osd_insensitive_bg_color);
    background-clip: padding-box;
  }

  @else if $t==osd-backdrop {
    //
    // backdrop osd button
    //
    $_bg: if($c != $_default_button_c, transparentize($c, 0.5), $osd_bg_color);

    color: $osd_fg_color;
    border-color: $osd_borders_color;
    background-color: transparent;
    background-image: image($_bg);
    background-clip: padding-box;
  }

  @else if $t==undecorated {
    //
    // reset
    //
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }
  @else if $t==undecorated-hover {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    @if $variant == 'light' {
      background-color: darken($c,14%);
    } @else {
      background-color: darken($c,1%);
    }
  }
  @else if $t==undecorated-active {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    @if $variant == 'light' {
      background-color: darken($c,20%);
    }
    @else {
      background-color: darken($c,5%);
    }
  }
}
