//
// Sidebar styles
//

.sidebar {
  background-color: mix($bg_color, $base_color, 50%);

  &:not(separator) {
    @at-root %sidebar_left,
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) {
      border-right: 1px solid $borders_color;
      border-left-style: none;
    }

    @at-root %sidebar_right,
    &:dir(rtl),
    &.right {
      border-left: 1px solid $borders_color;
      border-right-style: none;
    }
  }

  listview.view,
  list { background-color: transparent; }

  paned & { &.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & { border-style: none; }}
}

stacksidebar {
  //not a regular list
  list.separators:not(.horizontal) > row:not(.separator) {
    border-bottom: none;
  }
  row {
    padding: 10px 4px;
    @include focus-ring();

    > label {
      padding-left: 6px;
      padding-right: 6px;
    }

    &.needs-attention > label {
      @extend %needs_attention;
      background-size: 6px 6px, 0 0;
    }
    &:selected {
      background-color: $menu_selected_color;
      border-radius: $menu_radius;
      color: $fg_color;
    }
    &:selected:hover:dir(ltr), &:selected:hover:dir(rtl) {
      background-color: darken($menu_selected_color,5%);
    }
    &.activatable:active, &.activatable:selected:active {
      box-shadow: none; // #3413
    }
  }
}

separator.sidebar {
  background-color: $borders_color;
}

// Navigation sidebar
.navigation-sidebar {
  padding: $menu-margin 0; //only vertical padding. horizontal row size would clip

  > separator {
    margin: $menu-margin;
  }

  > row {
    min-height: 36px;
    padding: 0 8px;
    border-radius: $menu-margin;
    margin: 0 $menu-margin 2px;
    @include focus-ring($focus-state: 'focus-visible:focus-within');
    &:hover {
      background-color: darken($menu_selected_color, 5%);
    }

    &:selected {
      background-color: $menu_selected_color;
      color: inherit;

      @if $contrast == 'high' {
        box-shadow: inset 0 0 0 1px $borders_color;
      }


      &:hover {
        background-color: darken($menu_selected_color,5%);
      }

    }

    &:disabled { color: $insensitive_fg_color; }
  }
}
