//
// Infobar styles
//

infobar {
  > revealer > box {
    padding: 8px;
    border-spacing: 12px;
  }

  &.action:hover > revealer > box {
    background-color: if($variant == 'light', desaturate(lighten(invert($selected_bg_color), 47%), 30%),
    desaturate(darken(invert($selected_bg_color), 42%), 70%));
  }

  &.info,
  &.question,
  &.warning,
  &.error {
    > revealer > box {
      border-bottom: 1px solid lighten($borders_color, 5%);
      background-color: if($variant == 'light', desaturate(lighten(invert($selected_bg_color), 45%), 30%),
      desaturate(darken(invert($selected_bg_color), 40%), 70%));
    }
  }
}

//close button for info and searchbar (#3215)

infobar .close,
searchbar .close {
  @include button(undecorated);
  min-width: 16px;
  min-height: 16px;
  padding: 4px;
  border-radius: 50%;

  &:hover { @include button(hover); }
}
