//
// Print dialog styles
//

window.dialog.print {
  page-thumbnail {
    background: white;
    color: #2e3436;
    border: 1px solid $borders_color;

    label {
      color: #2e3436;
    }
  }

  .drawing {
    color: $fg_color;
    background: none;
    border: none;
    padding: 0;
  }

  .dialog-action-box { margin: 12px; }
}
