//
// General typographic styles
//

.large-title {
   font-weight: 300;
   font-size: 240%;
}
.title-1 {
   font-weight: 800;
   font-size: 200%;
}
.title-2 {
   font-weight: 800;
   font-size: 150%;
}
.title-3 {
   font-weight: 700;
   font-size: 150%;
}
.title-4 {
   font-weight: 700;
   font-size: 130%;
}
.heading {
   font-weight: 700;
   font-size: 110%;
}
.body {
   font-weight: 400;
   font-size: 110%;
}
.caption-heading {
   font-weight: 700;
   font-size: 90%;
}
.caption {
   font-weight: 400;
   font-size: 90%;
}
