//
// The most basic colour definitions for all widgets
//
$base_color: if($variant == 'light', #ffffff, lighten(desaturate(#241f31, 100%), 2%));
$text_color: if($variant == 'light', black, white);
$bg_color: if($variant == 'light', #f6f5f4, darken(desaturate(#3d3846, 100%), 4%));
$fg_color: if($variant == 'light', #2e3436, #eeeeec);

$drop_target_color: if($variant == 'light', #2ec27e, #26a269);
$shadow_color: transparentize(black, 0.9);
