:root
{
    /** FIXME: Translating named colours to CSS vars, though named colours */
    /**        are apparently deprecated and going in the bin one day - no */
    /**        clue what to do when that happens                           */
    /**                                                                    */
    --selected-bg-color: @theme_selected_bg_color;
    --selected-fg-color: @theme_selected_fg_color;
}

popover item:selected
{
    background-color: var(--selected-bg-color);
    color: var(--selected-fg-color);
}
