//
// Window manager color exports
//

// SASS gets mad if this is done directly in the color definition
$_wm_highlight: if($variant=='light', $top_hilight,
                  transparentize(black,1));

// These colors are exported for the window manager and shouldn't be used in applications,
// read if you used those and something break with a version upgrade you're on your own...
//
@define-color wm_title hsl(from #{$fg_color} h calc(s * 1.8) calc(l * 1.8));
@define-color wm_unfocused_title #{$backdrop_fg_color};
@define-color wm_highlight #{"" + $_wm_highlight};
@define-color wm_borders_edge #{"" + $borders_edge};

@define-color wm_bg_a hsl(from #{$bg_color} h calc(s * 1.2) calc(l * 1.2));
@define-color wm_bg_b #{$bg_color};

@define-color wm_shadow rgb(from black r g b / calc(alpha * 0.35));
@define-color wm_border rgb(from black r g b / calc(alpha * 0.18));

@define-color wm_button_hover_color_a hsl(from #{$bg_color} h calc(s * 1.3) calc(l * 1.3));
@define-color wm_button_hover_color_b #{$bg_color};
@define-color wm_button_active_color_a hsl(from #{$bg_color} h calc(s * 0.85) calc(l * 0.85));
@define-color wm_button_active_color_b hsl(from #{$bg_color} h calc(s * 0.89) calc(l * 0.89));
@define-color wm_button_active_color_c hsl(from #{$bg_color} h calc(s * 0.9) calc(l * 0.9));
