// When color definition differs for dark and light variant
// it gets @if ed depending on $variant







//insensitive state derived colors

//colors for the backdrop state, derived from the main colors.

//special cased widget colors

// High Contrast color overrides
